* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    background-image: linear-gradient(to bottom,
            hsl(141deg 75% 15%),
            hsl(141deg 75% 15%));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.container-aplicativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;
}

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes-faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

#capitulo {
    font-size: 1.4rem;
    font-weight: bold;
}

#play-pause,
#anterior,
#proximo {
    cursor: pointer;
}

#anterior,
#proximo {
    width: 40px;
}

#play {
    font-weight: bold;
    padding: 60px;
    width: 40px;
}

/* Container para play/pause: Posiciona os ícones sobrepostos */
#play-pause {
    position: relative; /* Pai para posicionamento absoluto dos filhos */
    width: 60px; /* Define o tamanho do "botão" play/pause */
    height: 60px; /* Define o tamanho do "botão" play/pause */
    display: flex; /* Para centralizar o SVG dentro */
    justify-content: center;
    align-items: center;
}

#play-pause svg {
    position: absolute; /* Posiciona os SVGs um em cima do outro */
    width: 100%; /* Faz o SVG ocupar todo o espaço do #play-pause */
    height: 100%;
    /* Remove padding daqui, o tamanho do container #play-pause já o define */
}

#container-botoes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente os botões */
    gap: 10px;
    margin-top: 1.5rem; /* Adiciona um espaço acima dos botões */
}

/* Estilo para os SVGs em geral, para que pareçam botões */
#container-botoes svg {
    color: #ffffff; /* Cor dos ícones */
    transition: color 0.2s ease-in-out;
}

#container-botoes svg:hover {
    color: #a0a0a0; /* Um leve hover para indicar interatividade */
}